$slidesBgColor: #1e2d55;
$navbarBgColor: #1e2d55;
$footerBgColor: #1e2d55;
$dataSetHoverBgColor: #1e2d55;
$navbarShadow: rgba(31, 73, 125, 0.8);
$purpleColor: #7280d1;
$blackColor: #000;
$whiteColor: #fff;
$wheatColor: wheat;
$lightBgColor: #3f51b5;
$cardHoverColor: #3f51b5;
$transparentBgColor: rgba(36, 186, 239, 0.6);
$genresBgColor: #7280d1;
$alice-carouselBgColor: #0fe43d;
$dotColor: #0fe43d;
$hover1Color: #4d64d4;
$hover2Color: #ff3366;
$trHoverBgColor: #2e51b162;
$grayColor: rgb(128, 128, 128);
$boxShadow: 0px 1px 15px $navbarShadow;
$boxShadow_CarouselItem__img: 0px 0px 5px black;
$navbarborder: solid 2px $navbarShadow;
$vote1Border: 2px solid #0fe43d;
$vote2Border: 2px solid #ff3366;
$scrollbarBgColor: #1e2d55;
$scrollbarThumbBgColor: #3f51b5;
$scrollbarThumbHoverBgColor: #4d64d4;
$secondFontColor: #949cb0;
$lineBgColor: #a8a8a83d;
$searchBgColor: #949cb0;
$layerImage: linear-gradient(
	to top,
	rgba(0, 0, 0, 1) 0,
	rgba(0, 0, 0, 0.9) 70%,
	rgba(0, 0, 0, 0.8) 100%
);
